@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #2f2cf9;
  --color-secondary: #8498f4;
  --color-accent: #8498f4;
  --color-neutral: #101c25;
  --color-info: #8498f4;
  --color-success: #90d033;
  --color-warning: #ffcb1d;
  --color-error: #e16a6a;

  /* border radius */
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  --color-primary: #2f2cf9;
  --color-secondary: #8498f4;
  --color-accent: #8498f4;
  --color-neutral: #28333b; /* Using dark-80 for a rich dark neutral */
  --color-info: #8498f4;
  --color-success: #90d033;
  --color-warning: #ffcb1d;
  --color-error: #e16a6a;
  --color-dark-80: #28333b;
  --color-dark-50: #878d92;
  --color-dark-20: #f8f9f9;

  /* border radius */
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}

.btn, label {
  svg {
    @apply size-[1.2em];
  }
}

.app-title {
  @apply text-3xl font-thin tracking-widest uppercase;
}